In [19]:
# Imports
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv('Data/human_development_index.csv', encoding='latin-1')

In [22]:
df.head()

                                                                                                                                                                                                                                                                                 Human development index (HDI)
HDI Rank (2017) Country      1990.000 1991.000 1992.000 1993.000 1994.000 1995.000 1996.000 1997.000 1998.000 1999.000 2000.000 2001.000 2002.000 2003.000 2004.000 2005.000 2006.000 2007.000 2008.000 2009.000 2010.000 2011.000 2012.000 2013.000 2014.000 2015.000 2016.000                       2017.000
168              Afghanistan NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      0.373    0.383    0.398    0.408    0.417    0.429    0.437    0.453    0.463    0.471    0.482    0.487    0.491    0.493    0.494                             0.498
68               Albania     0.645    0.626    0.610    0.613    0.619    0.632    0.641    0.641    0.652    0.662    0.669    0.676    0.682    0.689    0.694    0.704    0.711    0.720    0.724    0.729    0.741    0.752    0.767    0.771    0.773    0.776    0.782                             0.785
85               Algeria     0.577    0.581    0.587    0.591    0.595    0.600    0.608    0.617    0.627    0.636    0.644    0.653    0.664    0.674    0.684    0.692    0.698    0.707    0.709    0.719    0.729    0.736    0.740    0.745    0.747    0.749    0.753                             0.754
35               Andorra     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      0.759    0.767    0.780    0.820    0.826    0.819    0.829    0.829    0.831    0.830    0.828    0.827    0.849    0.850    0.853    0.854    0.856                             0.858